<div ng-include="'src/app/templates/layouts/header.html'"></div>

<div style="width: 100%; margin: 0 auto; background: #eee; padding: 15px 30px; border-radius: 15px;">
	<div class="form-group">
		<label>Title: </label>
		<input class="form-control" type="text" name="title" ng-disabled="true" ng-model="data.title">
	</div>
	<div class="form-group">
		<label>Content: </label>
		<textarea class="form-control" rows="10" type="text" name="title" ng-disabled="true" ng-model="data.content"></textarea>
	</div>
	<div class="form-group">
		<label>Updated: </label>
		<input class="form-control" type="text" name="updated" ng-disabled="true" ng-model="data.updated">
	</div>
	<div class="form-group">
		<label>Create by: </label>
		<input class="form-control" type="text" name="user" ng-disabled="true" ng-model="data.user">
	</div>
	<div class="form-group">
		<img class="img-thumbnail" style="width: 30%" ng-src="src/assets/images/{{data.image_name}}">
	</div>
	<div class="form-group" style="border-top: 1px solid #ccc; padding-top: 15px;">
		<button ng-click="openFromEdit()" class="btn btn-primary">Edit</button>
		<button ng-click="openAlertDelete()" class="btn btn-danger pull-right">Delete</button>
	</div>
	<h2 style="font-weight: bold; margin-top: 60px; border-bottom: 1px solid #000; padding-bottom: 5px;">Comment</h2>
	<div class="form-group" style="overflow: hidden;">
		<textarea class="form-control" name="comment" ng-model="data.comment" rows="3"></textarea>
		<p></p>
		<button ng-click="comment()" class="btn btn-primary pull-left">Comment</button>
	</div>
</div>

<modal title="Edit Blog" visible="showModal">
	<form role="form" enctype="multipart/form-data" method="post">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="title" class="form-control" name="title" id="title" placeholder="Title" ng-model="data.title" />
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<textarea class="form-control" rows="10" type="text" name="title" ng-model="data.content"></textarea>
		</div>
		<div class="form-group">
			<label>Image</label>
			<p id="img1" ><img class="img-thumbnail" style="width: 30%" ng-src="src/assets/images/{{data.image_name}}"></p>
			<!-- <div ng-repeat="step in stepsModel">
			    <img class="thumb" ng-src="{{step}}" />
			</div> -->
			<p id="img2" style="display: none">
				<img class="img-thumbnail"  style="width: 30%" ng-src="{{stepsModel}}" />
			</p>

			<input type="file" name="image" file-input="files"  accept="image/png, image/jpeg, image/jpg" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" >
			<!-- <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" onchange="angular.element(this).scope().uploadFile(this.files)" > -->
		</div>
		<div class="form-group" style="text-align: center;">
			<button type="submit" ng-click="save(data, files)" class="btn btn-primary">Save</button>
		</div>
	</form>
</modal>

<modal title="Delete" visible="showModalDelete">
	<form role="form" enctype="multipart/form-data" method="post" style="overflow: hidden;">
		<div class="form-group">
			<button type="submit" ng-click="yes()" class="btn btn-primary pull-left">Yes</button>
			<button type="submit" ng-click="no()" class="btn btn-primary pull-right">No</button>
		</div>
	</form>
</modal>
